node_modules
**/node_modules
build
dist
static
apps/server/client
target
*.log
*.db
.git

# ignore contents in excess directories, some are kept only so cargo 
# doesn't yell at me
apps/docs
apps/mobile