target

# web
node_modules
/web/build
/web/.svelte-kit
/web/package
.env
.env.*
!.env.template
$houdini
*.log
.eslintcache

# rust
static
target
*.db
*.sqlite*
*prisma.rs*

# os
.DS_Store

# editors / idea
.idea
