# OS
.DS_Store

# Logs
logs/
!interface/**/logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.todo

# Directories
build/
coverage/
cjs/
**/*/dist/**/*
!**/*/dist/.placeholder
dts/
esm/
lib/
mjs/
tmp/
umd/
node_modules/
target/
.next
.netlify
.pnpm-store
.vercel

# Custom
*.min.js
*.map
*.tsbuildinfo
.env
docker-compose.yaml

# rust
core/integration-tests/.*
core/integration-tests/*libraries*
static
apps/server/client/*
!apps/server/client/.placeholder
*.db*
*.sqlite*
*prisma.rs*

# nix
.envrc
.direnv