# ignore markdown files, there's just gonna be so many of them lol
*.md linguist-detectable=false
# ignore json files, as languages get added there will be *way* too many
*.json linguist-detectable=false
# ignore sql files, migrations get added there will be *way* too many
*.sql linguist-detectable=false

# I don't want docs website to be included in language stats
apps/docs/** linguist-vendored

# Ignore all snapshots and test files
**/__snapshots__/** linguist-vendored
**/*.test.ts linguist-vendored
**/*.test.tsx linguist-vendored