# OS
.DS_Store

# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.todo

# Directories
build/
coverage/
cjs/
**/*/dist/**/*
!**/*/dist/.placeholder
dts/
esm/
lib/
mjs/
tmp/
umd/
node_modules/
target/

# Custom
*.min.js
*.map
*.tsbuildinfo
docker-compose.yaml

# rust
core/integration-tests/.*
core/integration-tests/*libraries*
static
apps/server/client/*
!apps/server/client/.placeholder
*.db*
*.sqlite*
*prisma.rs*

# Moon
.moon/cache
.moon/dts
.moon/docker

# nix
.envrc
.direnv