[workspace]
resolver = "2"
members = [
  "apps/desktop/src-tauri", 
  "apps/server",
  "core", 
  # "core/integration-tests", 
  "packages/prisma-cli", 
]

[workspace.package]
version = "0.0.0"
rust-version = "1.68.0"

[workspace.dependencies]
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust.git", tag = "0.6.7", features = [
  # 'specta',
  'sqlite-create-many',
  "migrations",
  "sqlite",
], default-features = false }
prisma-client-rust-cli = { git = "https://github.com/Brendonovich/prisma-client-rust.git", tag = "0.6.7", features = [
  # "specta",
  "sqlite-create-many",
  "migrations",
  "sqlite",
], default-features = false }

serde = { version = "1.0", features = ["derive"] }
tokio = { version = "1.21.2", features = [
  # feature for the internal channels (internal communication)
  "sync", 
  # this is needed for tokio::spawn multi-threaded
  "rt-multi-thread",
  # needed for detecting shutdown signals (e.g. ctrl+c)
  "signal",
] }
async-stream = "0.3.3"

### DEV UTILS ###
specta = "1.0.2"

### Error Handling + Logging ###
tracing = "0.1.36"
thiserror = "1.0.37"

[patch.crates-io]
# for some reason, async-stream 0.3.4 is getting used instead of 0.3.3 but ONLY IN DOCKER?? So I have to patch it IG?? kms
async-stream = { git = "https://github.com/tokio-rs/async-stream", rev = "e1373e4dede24f7700452e499a46561fb45ea515" }