[workspace]
resolver = "2"
members = [
  "apps/desktop/src-tauri", 
  "apps/server",
  "core", 
  "crates/*", 
]

[workspace.package]
version = "0.0.0"
rust-version = "1.72.1"

[workspace.dependencies]
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust.git", tag = "0.6.10", features = [
  "sqlite-create-many",
  "migrations",
  "sqlite",
  "mocking"
], default-features = false }
prisma-client-rust-cli = { git = "https://github.com/Brendonovich/prisma-client-rust.git", tag = "0.6.10", features = [
  "sqlite-create-many",
  "migrations",
  "sqlite",
  "mocking"
], default-features = false }

serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
futures = "0.3.30"
futures-util = "0.3.30"
tokio = { version = "1.35.0", features = [
  # Provides sender/reciever channels
  "sync", 
  # Tells the Tokio runtime to use the multi-thread scheduler.
  "rt-multi-thread",
  # Allows handling shutdown signals (e.g., ctrl+c)
  "signal",
] }
async-trait = "0.1.74"
async-stream = "0.3.5"
urlencoding = "2.1.3"

### DEV UTILS ###
specta = "1.0.5"
tempfile = "3.8.1"

### AUTH ###
bcrypt = "0.15.0"

### Error Handling + Logging ###
tracing = "0.1.40"
thiserror = "1.0.51"