[Unit]
Description=Stump Book Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=stump
WorkingDirectory=/opt/stump
ExecStart=pnpm start core

[Install]
WantedBy=multi-user.target
