[package]
name = "stump_server"
version = { workspace = true }
edition = "2021"
default-run = "stump_server"

[dependencies]
stump_core = { path = "../../core" }
cli = { path = "../../crates/cli" }
prisma-client-rust = { workspace = true }
axum = { version = "0.6.20", features = ["ws", "headers"] }
axum-macros = "0.4.0"
axum-extra = { version = "0.5.0", features = [
  "spa",
  "query"
] }
tower-http = { version = "0.4.4", features = [
  "fs",
  "cors",
  "set-header",
  "trace"
] }
hyper = "0.14.27"
serde_json = { workspace = true }
futures-util = { workspace = true }
tokio = { workspace = true }
tokio-util = "0.7.10"
serde = { workspace = true }
tower = "0.4.13"
tower-sessions = "0.2.1"
async-trait = { workspace = true }
async-stream = { workspace = true }
local-ip-address = "0.5.6"
notify = "5.1.0"
urlencoding = { workspace = true }
serde_qs = { version = "0.12.0", features = ["axum"] }
serde-untagged = "0.1.2"
time = "0.3.30"


### Dev Utils ###
rand = "0.8.5"
utoipa = { version = "3.5.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "3.1.5", features = ["axum"] }
specta = { workspace = true }

### Error Handling + Logging ###
tracing = { workspace = true }
thiserror = { workspace = true }

### Auth ###
bcrypt = { workspace = true }
base64 = "0.21.5"

### Platform Specific Deps ###
[target.aarch64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.61", features = ["vendored"] }

[target.armv7-unknown-linux-musleabihf.dependencies]
openssl = { version = "0.10.61", features = ["vendored"] }

[target.x86_64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.61", features = ["vendored"] }

[build-dependencies]
chrono = "0.4.31"
