[package]
name = "stump_server"
version = { workspace = true }
edition = "2021"
default-run = "stump_server"

[dependencies]
stump_core = { path = "../../core" }
prisma-client-rust = { workspace = true }
axum = { version = "0.6.1", features = ["ws"] }
axum-macros = "0.3.0"
axum-extra = { version = "0.4.2", features = [
  "spa",
  # "cookie"
  "query"
] }
tower-http = { version = "0.3.5", features = [
  "fs",
  "cors",
  "set-header",
  "trace"
] }
hyper = "0.14.20"
serde_json = "1.0.85"
serde_with = "2.1.0"
futures-util = "0.3.24"
# axum-typed-websockets = "0.4.0"
tokio = { workspace = true }
tokio-util = "0.7.4"
serde = { workspace = true }
axum-sessions = "0.4.1"
async-trait = "0.1.53"
async-stream = { workspace = true }
# TODO: figure out this super fucking annoying cargo dependency resolution issue. This is the second time
# cargo, in docker, has ignored the workspace version of this dep and instead used the latest version from crates.io
# local-ip-address = "0.5.1"
local-ip-address = { git = "https://github.com/EstebanBorai/local-ip-address.git", tag = "v0.5.1" }
notify = "5.1.0"


### Dev Utils ###
rand = "0.8.5"
utoipa = { version = "3.0.3", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "3.0.2", features = ["axum"] }

### Error Handling + Logging ###
tracing = { workspace = true }
thiserror = { workspace = true }

### Auth ###
bcrypt = "0.10.1"
base64 = "0.13.0"

### Platform Specific Deps ###
[target.aarch64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.40", features = ["vendored"] }

[target.armv7-unknown-linux-musleabihf.dependencies]
openssl = { version = "0.10.40", features = ["vendored"] }

[target.x86_64-unknown-linux-musl.dependencies]
openssl = { version = "0.10.40", features = ["vendored"] }

[build-dependencies]
chrono = "0.4.19"
