main > article {
	@apply flex flex-col space-y-4 flex-1;
}

thead > tr {
	@apply bg-gray-50 dark:bg-gray-900 !important;
}

/* tr:nth-child(even) {
	background-color: #ccc;
}
tr:nth-child(odd) {
	background-color: #fff;
} */

/* CODE */

/* .markdown-body pre {
	@apply relative p-3 rounded-lg shadow bg-gray-900;
} */

/* HEADERS */

main > article h1,
main > article h2,
main > article h3,
main > article h4,
main > article h5,
main > article h6 {
	@apply font-bold;
}

main > article h1 {
	@apply text-3xl;
}

main > article h2 {
	@apply text-2xl;
	/* TODO: underline */
}

main > article h3 {
	@apply text-xl;
}

main > article h4 {
	@apply text-lg;
}

main > article h5 {
	@apply text-base;
}

main > article h6 {
	@apply text-sm;
}

/* LISTS / TABLES */
