[package]
name = "stump_core"
version = { workspace = true }
edition = "2021"

[dependencies]
tokio = { workspace = true }
serde = { workspace = true }
prisma-client-rust = { workspace = true }
specta = { workspace = true }

### Async Utils ###
rayon = "1.8.0"
futures = { workspace = true }
futures-concurrency = "7.4.3"
async-trait = { workspace = true }
async-channel = "2.1.0"

### Filesystem Utils ###
walkdir = "2.4.0"
globset = "0.4.14"
dirs = "5.0.1"
toml = "0.8.8"
trash = "3.1.2"
infer = "0.15.0"
image = "0.24.7"
webp = "0.2.6"
zip = "0.6.6"
epub = "1.2.4"
# unrar = { git = "https://github.com/stumpapp/unrar.rs", branch = "feature/typestate" }
unrar = { version = "0.5.2" }
# pdf = "0.8.1"
pdf = { git = "https://github.com/pdf-rs/pdf", rev = "3bc9e636d31b1846e51b58c7429914e640866f53" } # TODO: revert back to crates.io once fix(es) release
pdfium-render = "0.8.16"
data-encoding = "2.5.0"
ring = "0.17.7"

### Errors and Logging ###
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing-appender = "0.2.3"

### Misc Utils ###
urlencoding = { workspace = true }
cuid = "1.3.2"
xml-rs = "0.8.19" # XML reader/writer
serde-xml-rs = "0.6.0" # Support for XML serialization/deserialization
serde_json = { workspace = true }
itertools = "0.12.0"
utoipa = { version = "3.5.0" }
uuid = "1.6.1"
regex = "1.10.2"
alphanumeric-sort = "1.5.3"

[dev-dependencies]
tempfile = { workspace = true }

[build-dependencies]
chrono = "0.4.31"