[alias]
integration-tests = "test --package integration-tests -- --test-threads 1"
doc-tests = "cargo test --doc -- --show-output"
build-server = "build --package stump_server --bin stump_server --release --"
codegen = "run --package codegen --bin codegen"
dump-schema = "run --package graphql --bin graphql-gen"

[target.x86_64-apple-darwin]
rustflags = [
  "-C", "link-arg=-undefined",
  "-C", "link-arg=dynamic_lookup",
]

[target.x86_64-unknown-linux-musl]
rustflags = [
  "-C", "target-feature=+crt-static",
]

[target.aarch64-unknown-linux-musl]
rustflags = [
  "-C", "target-feature=+crt-static",
]

[target.armv7-unknown-linux-musleabihf]
rustflags = [
  "-C", "target-feature=+crt-static",
]