[alias]
prisma = "run --package prisma-cli --"

# this caused me such an unbearable headache...
[target.x86_64-apple-darwin]
rustflags = [
  "-C", "link-arg=-undefined",
  "-C", "link-arg=dynamic_lookup",
]

[target.x86_64-unknown-linux-musl]
rustflags = [
  "-C", "target-feature=+crt-static",
]

[target.aarch64-unknown-linux-musl]
rustflags = [
  "-C", "target-feature=+crt-static",
]

[target.armv7-unknown-linux-musleabihf]
rustflags = [
  "-C", "target-feature=+crt-static",
]