@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-inter h-full bg-background antialiased;
}

#root,
html {
	@apply flex h-full flex-col overflow-hidden bg-background;
}

form {
	margin-block-end: 0;
}

.card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#nprogress {
	@apply pointer-events-none z-50;
}
#nprogress .bar {
	@apply fixed left-0 top-0 z-50 h-0.5 w-full bg-brand-500;
}
