[package]
name = "integrations"
version = "0.0.3"
edition = "2021"

[dependencies]
async-trait = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
dotenv = "0.15.0"
