@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply h-full font-sans antialiased;
}

#root,
html {
	@apply h-full overflow-hidden dark:bg-gray-950;
}

body {
	@apply dark:bg-gray-950;
}

main {
	@apply flex h-full w-full flex-col overflow-y-auto overflow-x-hidden !important;
}

form {
	margin-block-end: 0;
}

.card-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

#nprogress {
	@apply pointer-events-none z-50;
}
#nprogress .bar {
	@apply fixed left-0 top-0 z-50 h-0.5 w-full bg-brand-500;
}
