name: 'Stump Checks CI'

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-rust:
    if: "!contains(github.event.pull_request.head.ref, 'release/v')"
    name: Rust checks
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup rust
        uses: ./.github/actions/setup-rust

      - name: Setup prisma
        uses: ./.github/actions/setup-prisma

      - name: Run cargo checks
        run: |
          cargo fmt --all -- --check
          cargo clippy -- -D warnings
      # TODO: fix the tests, then uncomment this
      # - name: Run tests
      #   run: |
      #     cargo integration-tests

  check-typescript:
    if: "!contains(github.event.pull_request.head.ref, 'release/v')"
    name: TypeScript checks
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PNPM and TypeScript
        uses: ./.github/actions/setup-pnpm

      - name: Run TypeScript lints
        run: pnpm lint
