name: Stump-CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-rust:
    name: Rust checks
    runs-on: ubuntu-latest
    # TODO: remove this once I have my own, hosted runner...
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup cargo
        uses: ./.github/actions/setup-cargo

      - name: Setup prisma
        uses: ./.github/actions/setup-prisma

      - name: Run cargo checks
        run: |
          cargo fmt --all -- --check
          cargo clippy -- -D warnings
      - name: Run tests
        run: |
          cargo integration-tests

  check-typescript:
    name: TypeScript checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm and typescript
        uses: ./.github/actions/setup-pnpm

      - name: lint
        run: pnpm moon run :lint

      # - name: typecheck
      #   run: pnpm moon run :typecheck

  # release:
  #   name: Release (${{ matrix.platform }})
  #   runs-on: ${{ matrix.platform }}
  #   # Release only runs on push to main. TODO: can I make this trigger on tag?
  #   if: github.event_name != 'pull_request'
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       platform: [ubuntu-latest, macos-latest, windows-latest]
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Install Rust
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         toolchain: stable
  #         profile: minimal
  #         override: true
  #         # TODO: clippy??
  #         components: rustfmt, rust-src

  #     # TODO: figure out caching for rust deps

  #     - name: Generate Prisma client
  #       uses: ./.github/actions/generate-prisma-client

  # TODO: pnpm setup
  # TODO: docker builds -> maybe this helps? https://github.com/devture/matrix-corporal/blob/master/.gitlab-ci.yml
