name: 'Stump Checks CI'
on:
  pull_request:
    # TODO(sea-orm): Undo
    branches:
      - '**'
      - '!breaking/sea-orm'
  push:
    branches:
      - main
      - develop

jobs:
  code-changes-check:
    runs-on: [ubuntu-22.04]
    outputs:
      changes: ${{ steps.filter.outputs.changes }}
      frontend-changed: ${{ steps.filter.outputs.frontend == 'true' }}
      rust-changed: ${{ steps.filter.outputs.rust == 'true' }}
      docs-changed: ${{ steps.filter.outputs.docs == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            docs:
              - './docs/**'
            frontend:
              - './apps/web/**'
              - './apps/desktop/src/**'
              - './packages/**'
            expo:
              - './apps/expo/**'
            rust:
              - './apps/server/**'
              - './apps/desktop/src-tauri/**'
              - './core/**'
              - './crates/**'
            docker: ./docker/**

  check-rust:
    needs: code-changes-check
    if: "!contains(github.event.pull_request.head.ref, 'release/v') && needs.code-changes-check.outputs.rust-changed == 'true'"
    name: Rust checks
    runs-on: [self-hosted]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup rust
        uses: ./.github/actions/setup-rust
        with:
          cache-dependencies: false

      - name: Run cargo checks
        run: |
          cargo fmt --all -- --check
          cargo clippy -- -D warnings

      - name: Verify GraphQL schema
        run: |
          cargo dump-schema -- --check

      - name: Run tests
        run: cargo test

  check-coverage:
    if: "!contains(github.event.pull_request.head.ref, 'release/v') && needs.code-changes-check.outputs.rust-changed == 'true'"
    name: Coverage checks
    needs: [code-changes-check, check-rust]
    runs-on: [self-hosted]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run coverage
        uses: ./.github/actions/coverage
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          cache-dependencies: false

  check-typescript:
    needs: code-changes-check
    if: "!contains(github.event.pull_request.head.ref, 'release/v') && needs.code-changes-check.outputs.frontend-changed == 'true'"
    name: TypeScript checks
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node and Yarn
        uses: ./.github/actions/setup-yarn

      - name: Run TypeScript lints
        run: yarn lint

      - name: Run TypeScript tests
        run: yarn test

  # TODO(ci): Add vercel dev deployment?
  check-docs:
    needs: code-changes-check
    if: "!contains(github.event.pull_request.head.ref, 'release/v') && needs.code-changes-check.outputs.docs-changed == 'true'"
    name: Check documentation
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node and Yarn
        uses: ./.github/actions/setup-yarn

      - name: Build documentation app
        run: yarn docs build
