name: 'Stump Nightly CI'

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  code-changes-check:
    runs-on: [ubuntu-22.04]
    outputs:
      changes: ${{steps.filter.outputs.changes}}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          base: 'develop'
          filters: |
            apps: ./apps/**
            core: ./core/**
            crates: ./crates/**
            docker: ./docker/**
            packages: ./packages/**
            workflow:
              - './.github/workflows/nightly.yml'
              - './.github/actions/**'

  nightly-docker-build:
    needs: code-changes-check
    if: "!contains(github.event.pull_request.head.ref, 'release/v') && needs.code-changes-check.outputs.changes != '[]'"
    name: Build docker image
    runs-on: [self-hosted-large]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # The build on PRs is only for linux/amd64 as a sanity check. The build on pushes will
      # actually build all the supported platforms and push them to dockerhub
      - name: Configure environment
        run: |
          echo "LOAD=${{ github.event_name == 'pull_request' }}" >> $GITHUB_ENV
          echo "PUSH=${{ github.event_name == 'push' }}" >> $GITHUB_ENV

          if [[ ${{ github.event_name }} == 'pull_request' ]]; then
            echo "PLATFORMS=linux/amd64" >> $GITHUB_ENV
          else
            echo "PLATFORMS=linux/arm64/v8,linux/amd64" >> $GITHUB_ENV
          fi

      - name: Setup and build docker image
        uses: ./.github/actions/build-docker
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
          tags: 'nightly'
          # load: ${{ env.LOAD }}
          # push: ${{ env.PUSH }}
          # platforms: ${{ env.PLATFORMS }}
          load: false
          push: true
          platforms: "linux/amd64,linux/arm64/v8"
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
