name: 'Stump Nightly CI'

on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  nightly-docker-build:
    if: "!contains(github.event.pull_request.head.ref, 'release/v')"
    name: Build docker image
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # The build on PRs is only for linux/amd64 as a sanity check. The build on pushes will
      # actually build all the supported platforms and push them to dockerhub
      - name: Configure environment
        run: |
          echo "LOAD=${{ github.event_name == 'pull_request' }}" >> $GITHUB_ENV
          echo "PUSH=${{ github.event_name == 'push' }}" >> $GITHUB_ENV

          if [[ ${{ github.event_name }} == 'pull_request' ]]; then
            echo "PLATFORMS=linux/amd64" >> $GITHUB_ENV
          else
            echo "PLATFORMS=linux/arm64/v8,linux/amd64" >> $GITHUB_ENV
          fi

      - name: Setup and build docker image
        uses: ./.github/actions/build-docker
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
          tags: '0.0.2,latest,nightly'
          # load: ${{ env.LOAD }}
          # push: ${{ env.PUSH }}
          load: false
          push: true
          # platforms: ${{ env.PLATFORMS }}
          platforms: 'linux/amd64,linux/arm64/v8' # TODO: AARON REMOVE THIS
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
